.about {
    padding: 40px;
    margin: 0 auto;
    margin-top: 100px;
}
.about h3 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    display:flex;
    align-items: center;

}
.profile-picture.visible{
    opacity: 1;
    transform: translateY(0);
}
/* Style de l'image */
.profile-picture {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-100%); 
    transition: transform 0,6s ease;
}

.profile-picture img {
    width: 100%;
    height: auto;
}
.description.visible{
    opacity: 1;
    transform: translateY(0);
}
.description {
    flex: 2;
    padding-left: 30px;
    color: #555;
    transform: translateX(120%); 
    transition: transform 0,6s ease;
}

.description p {
    margin-bottom: 15px;
    line-height: 1.6;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    
    .profile-picture {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .description {
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 20px;
    }

    .about h3 {
        font-size: 1.5em; 
    }

    .description p {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
}