.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 0 15%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
}

/* Image du dragon */
.dragon {
  width: 500px;
  height: auto;
  animation: appear 2s ease-in-out;
  z-index: 1;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
