.language-selector {
    position: relative;
    display: inline-block;
}

.language-icon {
    cursor: pointer;
    width: 25px;  /* Taille de l'icône */
    height: 25px;
    padding: 8px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: transform 0.2s;
}

.language-icon:hover {
    transform: scale(1.1);
}

.language-dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    bottom: 55px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
}

.language-dropdown button {
    padding: 10px;
    border: none;
    background: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    padding-left: 15px;
}

.language-dropdown button:hover {
    background-color: #f0f0f0;
    font-weight: bold;
    border-radius: 5px;
}
