.language-selector {
  position: relative;
  display: inline-block;
}
.language-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  min-width: 100px;
}

.language-dropdown button {
  padding: 10px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-dropdown button:hover {
  background-color: #f0f0f0;
  font-weight: bold;
}