.skills {
    padding: 40px;
    text-align: center;
    background-color: transparent; /* Fond transparent */
  }
  
  .skills h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .skill-category {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .skill-category h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .skill-category ul {
    list-style: none;
    padding: 0;
  }
  
  .skill-category ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .skill-category ul li svg {
    font-size: 1.5rem;
    color: #6a6a6a;
  }
  